<h2>Edit your Content</h2>

<%= render 'form' %>

<!-- this should be dynamic, redirect to setup or about -->
<% if @content.content_type == 'Static' %>
  <%= link_to 'Back', setup_path, :class => 'btn btn-info btn-sm', :confirm => 'Are you sure you wish to go back? Any changes you have made since you last saved will be lost.' %>
<% else %>
  <%= link_to 'Back', about_path, :class => 'btn btn-info btn-sm', :confirm => 'Are you sure you wish to go back? Any changes you have made since you last saved will be lost.' %>
<% end %>

