<h2>Edit your Content</h2>

<%= render 'form' %>

<!-- this should be dynamic, redirect to setup or about -->
<% if @content.content_type == 'Static' %>
  <%= link_to '< Back', setup_path, :class => 'btn btn-info btn-sm' %>
<% else %>
  <%= link_to '< Back', about_path, :class => 'btn btn-info btn-sm' %>
<% end %>

