<h2>Articles</h2>

<hr>

<!-- Create Article -->
<% if admin_signed_in? %>
  <%= link_to 'Create Article + ', new_article_path, :class => 'btn btn-success btn-sm' %>
<% end %>

<%= render @articles %>