<h2>Site Administration</h2>

<h4>Site Content:</h4>

<h4>Add Content:</h4>
<ul>
  <li><%= link_to 'Create Article', new_article_path %></li>
  <li><%= link_to 'Create Stockist', new_stockist_path %></li>
</ul>
