<!-- Page Header (Banner) -->
<div class="jumbotron">
  <h1>93 Made Games</h1>
  <p>An Australian game design and publishing company</p>
  <%= link_to 'About Us', about_path, :class => "btn btn-primary btn-lg" %>
  <!-- <p><a href="#" class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p> -->
</div>

<br>

<%= markdown_to_html(@body) %>
