<h3>About Us</h3>
<p>
  93 Made Games is an Australian game design and publishing company. In fact, 93 Made Games is the only company in Australia that develops and produces its own card games and board games all of the way from the concept stage through to, and including, distribution and marketing. The company even has an in-house art department with artists and graphic designers. Like most game publishers, the only thing that 93 Made Games truly out-sources is the manufacturing of its games.<br><br>

  The company has released two games to date - Viewpoint and Viewpoint Reflections - and has several games in varying stages of development. The next game 93 Made Games has scheduled for release is Monster Town - a tribal horror adventure game.<br><br>

  Whilst 93 Made Games has a significant backlog of ideas and developmental games and is not currently considering unsolicited game submissions, we are always open to hearing your ideas about what would make a good game. Please feel free to email our designers to discuss your ideas or anything else related to the games industry.<br><br>

  Sean Carroll - designer of Viewpoint, Viewpoint Reflections, Show'n'Go, Horrorville and Void<br><br>

  Anthony Condos - designer of Monster Town, Gladitorus Millennia and Gladitorus Futuristica
</p>

<p style="font-size:12px">Site designed by Simon Taylor - 2013</p>