<% if admin_signed_in? %>
  <br><%= link_to 'Create Content +', new_content_path, :class => 'btn btn-success btn-sm'  %>
<% end %>

<h2>About Us</h2>

<hr>

<%= render @about %>

<h2>The Legal Stuff...</h2>

<hr>

<%= render @legal %>