ul.no-bullet {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

li.caption {
  background-color: #ADEBFF;
  font-style: italic;
  padding: 10px;
  border: 1px solid black;
  text-align: center;
}

li.content img {
  max-width: 250px;
  max-height: 250px;
}